<div class="about-container">
  <div class="about-text-container">
    <div class="about-text">
      <p class="uppercase preheading">{{ collections.about[0].data.subTitle }}</p>
      <h2 class="heading"><span>{{ collections.about[0].data.title }}</span></h2>
      {{ collections.about[0].content | safe }}
      <p>
        <a href="#form" class="cms-button-text smooth-scroll"><span>{{ collections.about[0].data.btnText }}</span></a>
      </p>
    </div>
  </div>

  <div class="image-container">
      <img
        src="{{ collections.about[0].data.image }}"
        alt="{{ collections.about[0].data.imageAlt }}"
        draggable="false"
      />
  </div>
</div>
