<section>
	{% for faq in faqslist | reverse %}
		<article{% if faq.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ faq.url | url }}">
					{% if faq.data.title %}
						{{ faq.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if faq.data.summary %}
				<p>
					{{ faq.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ faq.date | machineDate }}">
					<small>{{ faq.date | readableDate }} by <a href="/authors/{{ faq.data.author | slug }}/">{{ faq.data.author }}</a></small>
				</time>
			</p>
			{% if faq.data.tags %}
				<p>
					{% for tag in faq.data.tags %}
		  			{%- if tag != "faq" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
