<footer>
  <div class="footer">
    <p>Copyright © 2024. All Rights Reserved Dr. Carmine Scarpino Dental. Created by <a href="https://github.com/CerealJim/scarpino-dental-demo">Jim Hazlewood</a>.</p>
    <div class="socials">
    </div>
  </div>
</footer>
