

<footer>
  <div class="row footer-nav">
    <div class="columns footer-nav__logo">
      <p>
        <img
          itemprop="image"
          alt="Dr. Carmine Scarpino Dental Logo"
          src="https://d2l4d0j7rmjb0n.cloudfront.net/site/3248/seo/image.png"
        />
      </p>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2024. All Rights Reserved Dr. Carmine Scarpino Dental. Created by <a href="https://github.com/CerealJim/scarpino-dental-demo">Jim Hazlewood</a>.</p>
    <div class="socials">
      <ul
        class="seo-schema citation-social"
        aria-label="Social media links, open in a new tab"
      >
        <li class="seo-Facebook">
          <a
            itemprop="sameAs"
            target="_blank"
            href="https://www.facebook.com/DrScarpinoDental/"
            title="Facebook"
            ><span class="sr-only">Facebook</span><i class="fab fa-facebook"></i></a
          >
        </li>
        <li class="seo-GoogleBusiness">
          <a
            itemprop="sameAs"
            target="_blank"
            href="https://goo.gl/maps/Qs1YDJbimMw8WgRv8"
            title="GoogleBusiness"
            ><span class="sr-only">GoogleBusiness</span><i class="fab fa-google"></i></a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a href="#top">Back to Top</a></li>
        <li>
          <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
        </li>
        <li>
          <a href="/accessibility" title="Accessibility Statement"
            >Accessibility</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
