

<div class="">
  <p></p>
  <p class="">New Patients Welcome</p>
  <p class=""><span>{{ collections.intro[0].data.title }}</span></p>
  <p class="">{{ collections.intro[0].data.summary }}</p>
  <p></p>
  <p>
    <a href="/#contact" class="cms-button-primary">Get Started</a>
  </p>
</div>

<div class="home-slides__img" style="min-height: 420px">
  <a href="/home" title="Welcome to Dr. Carmine Scarpino Dental">
    <picture
      ><source
        type="image/webp"
        media="(min-width:481px)"
        srcset="
          https://d207pkrvhz1w8t.cloudfront.net/slider-image-20211-full-cropped.webp
        " />
      <source
        type="image/jpeg"
        media="(min-width:481px)"
        srcset="
          https://d207pkrvhz1w8t.cloudfront.net/slider-image-20211-full-cropped.jpg
        " />
      <source
        type="image/webp"
        media="(max-width:480px)"
        srcset="
          https://d207pkrvhz1w8t.cloudfront.net/slider-image-20211-mobile-cropped-recropped.webp
        " />
      <source
        type="image/jpg"
        media="(max-width:480px)"
        srcset="
          https://d207pkrvhz1w8t.cloudfront.net/slider-image-20211-mobile-cropped-recropped.jpg
        " />
      <img
        src="https://d207pkrvhz1w8t.cloudfront.net/slider-image-20211-full-cropped.jpeg"
        alt="Welcome to Dr. Carmine Scarpino Dental"
        draggable="false"
    /></picture>
  </a>
</div>
      
