<div class="intro-container">
  <div class="background-img">
    <picture>
      <img
        src={{ collections.intro[0].data.image }}
        alt={{ collections.intro[0].data.imageAlt }}
        draggable="false"
      />
    </picture>
  </div>
  <div class="intro-text">
    <p class="uppercase preheading">{{ collections.intro[0].data.subTitle }}</p>
    <h1 class="heading"><span>{{ collections.intro[0].data.title }}</span></h1>
    <p class="summary">{{ collections.intro[0].data.summary }}</p>
    <p>
      <a href="#form" class="cms-button-primary smooth-scroll">
        <span>{{ collections.intro[0].data.btnText }}</span>
      </a>
    </p>
  </div>
</div>