

<div class="pitch-container">
  <div class="pitch-text">
  <h2 class="heading"><span>{{ collections.pitch[0].data.title }}</span></h2>
  <p class="summary">{{ collections.pitch[0].data.summary }}</p>
    <a href="#contact" class="cms-button-primary smooth-scroll"><span>{{ collections.pitch[0].data.btnText }}</span></a>
  </div>
</div>


      

      
