

<div class="">
  <p></p>
  <p class="">{{ collections.pitch[0].data.subTitle }}</p>
  <p class=""><span>{{ collections.pitch[0].data.title }}</span></p>
  <p class="">{{ collections.pitch[0].data.summary }}</p>
  <p></p>
  <p>
    <a href="/#contact" class="cms-button-primary"><span>{{ collections.pitch[0].data.btnText }}</span></a>
  </p>
</div>


      

      
