

<div class="service-container">
  <div class="image-container">
      <img
        src={{ collections.service[0].data.image }}
        alt={{ collections.service[0].data.imageAlt }}
        draggable="false"/>
  </div>

  <div class="service-text-container">
    <div class="service-text">
    <p class="uppercase preheading">{{ collections.service[0].data.subTitle }}</p>
    <h2 class="heading"><span>{{ collections.service[0].data.title }}</span></h2>
    
    {{ collections.service[0].content | safe }}
    <p>
      <a href="#contact" class="cms-button-text smooth-scroll"><span>{{ collections.service[0].data.btnText }}</span></a>
    </p>
    </div>
  </div>
</div>



      
