---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
{% include "components/intro.njk" %}
{% include "components/about.njk" %}
{% include "components/service.njk" %}
{% include "components/pitch.njk" %}

<div>

{% include "components/contact.njk" %}
</div>

{% set faqslist = collections.faq %}
{% include "components/faqslist.njk" %}


